h1, p {
  text-align: center;
}

hr {
  background-color: #282E34;
}

.background-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url(../computer-2.jpg);
  min-height: 100%;
}

.col-sm-6 p {
  margin-top: 5%;
  margin-bottom: 2%;
}

.btn {
  display: block;
  margin: auto;
  white-space: normal;
}
